<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.banno.android.gordontest.feature">

    <dist:module
        dist:instant="false"
        dist:title="@string/feature_title">
        <dist:delivery>
            <dist:on-demand/>
        </dist:delivery>
        <dist:fusing dist:include="false"/>
    </dist:module>

</manifest>
